{% extends 'base.html' %}
{% block content %}

<h1>Record Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ record.name }}</span>
        <p>Artist: {{ record.artist }}</p>
        <p>Description: {{ record.description }}</p>
        {% if record.year > 0 %}
          <p>Year: {{ record.year }}</p>
        {% else %}
          <p>Year: Chick</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'records_update' record.id %}">Edit</a>
        <a href="{% url 'records_delete' record.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_listening' record.id %}" method="post">
    {% csrf_token %}
    {{ listening_form.as_p }}
    <input type="submit" class="btn" value="Add Listening">
  </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for listening in record.listening_set.all %}
          <tr>
            <td>{{listening.date}}</td>
            <td>{{listening.get_times_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var selectEl = document.getElementById('id_times');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}