{% extends 'base.html' %}
{% block content %}

<h1>Record List</h1>

{% for record in records %}
  <div class="card">
    <a href="{% url 'detail' record.id %}">
    <div class="card-content">
      <span class="card-title">{{ record.name }}</span>
      <p>Artist: {{ record.artist }}</p>
      <p>Description: {{ record.description }}</p>
      {% if record.year > 0 %}
        <p>Year: {{ record.year }}</p>
      {% else %}
        <p>Year: Chick</p>
      {% endif %}
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}